#
# This file is managed by salt
#

[Match]
Name={{ iface_name }}

[Link]
{%- if mtu != 'dhcp' %}
MTUBytes={{ mtu }}
{%- endif %}

[Network]
DHCP={{ dhcp }}
{%- if dns is defined %}
DNS={{ dns }}
{%- endif %}

{%- if address is defined %}

[Address]
Address={{ address }}
{%- endif %}

{%- if gateway is defined %}

[Route]
Gateway={{ gateway }}
{%- endif %}

{%- if dhcp != 'no' %}
[DHCP]
{%- if send_hostname == 'no' %}
SendHostname=no
{%- endif %}

{%- if mtu == 'dhcp' %}
UseMTU=yes
{%- endif %}

{%- if use_dns == 'no' %}
UseDNS=no
{%- endif %}

{%- if use_ntp == 'no' %}
UseNTP=no
{%- endif %}

{%- if use_routes == 'no' %}
UseRoutes=no
{%- endif %}

{%- if use_domains != 'no' %}
UseDomains={{ use_domains }}
{%- endif %}

{%- if hostname != '' %}
Hostname={{ hostname }}
{%- endif %}
{%- endif %}


